.estrutura {
    background-color: rgba(37, 188, 199, 0.76);
    padding: 15px 20px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
}
.estrutura div span{
   text-transform: uppercase;
}

.propriedade {
    position: absolute;
    background-color: rgb(27, 80, 158);
    color: aliceblue;
    padding: 20px;
    top: 100px;
}